<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>Assignments from 1006!</p>
    <p> <b> HW1a: </b> HW1a went over psuedocode, binary numbers, and truth tables </p>
    <p> <b> HW1b: </b> HW1b was our introduction to coding in Python. We wrote a function to greet the user, and ask their name. We then worked on some codes which manipulated lists  </p>
    <p> <b> HW2a: </b> HW2a analyzed the number of steps needed to perform certain operations. Introduction to time complexity </p>
    <p> <b> HW2b: </b> HW2b was a simulation of physics. It used different mathematical equations to track where an object would go when falling through the air. It also began our machine learning unit, opening a csv file and returning basic info</p>
    <p> <b> HW3a: </b> HW3a did some more time complexity and introduced us to recursive codes </p>
    <p> <b> HW3b: </b> HW3b was a vertical percolation using numpy arrays. It also continued our machine learning unit, which built up the data reading and basic processes like splitting </p>
    <p> <b> HW4: </b> HW4 used object oriented programming to model a class with teachers, students, assignments, and grades and salary</p>
    <p> <b> Midterm: </b> The midterm involved image maniulation using the ppm file format. We had to remove unwanted objects, flip horizontally, and convert to black and white</p>
    <p> <b>HW5: </b> HW5 was the end of the machine learning unit. We implemented high level statistics, and then used the split data to train one set to test another set for Benign or Malignant tumors. </p>
    
    </body>
</html>


